		<footer id="footer" class="source-org vcard copyright">
			&copy;
			<script>document.write(new Date().getFullYear())</script>
			 {{site.name}} - Follow us on
       <a href="http://twitter.com/codeliberation" target="_blank">Twitter</a>,
       <a href="https://www.facebook.com/TheCodeLiberationFoundation/" target="_blank">Facebook</a>, and
       <a href="http://github.com/codeliberation" target="_blank">GitHub</a>
       - <a href="http://tinyurl.com/helpcodelib" target="_blank">Donate via PayPal</a>
       - Contact us: hello(at)codeliberation.org
		</footer>
</body>
</html>
