		<footer id="footer" class="source-org vcard copyright">
			<p>
              &copy; <script>document.write(new Date().getFullYear())</script> {{site.name}} - Learn to make games with <a href="http://codeliberation.org/CLF-slides" target="_blank">slides from our classes and workshops</a>
           </p>
           <p>
             Follow us on
             <a href="http://twitter.com/codeliberation" target="_blank">Twitter</a>,
             <a href="https://www.facebook.com/TheCodeLiberationFoundation/" target="_blank">Facebook</a>, and
             <a href="http://github.com/codeliberation" target="_blank">GitHub</a>
             - Contact us: hello(at)codeliberation.org
             - <a href="http://tinyurl.com/helpcodelib" target="_blank">Donate via PayPal</a>
           </p>
		</footer>
  </body>
</html>
