/** Blog **/

.blog-post-list-item {
  + .blog-post-list-item {
    margin-top: 2em;
    padding-top: 1.5em;
    border-top: 1px solid $grayL1;
  }
}

.blog-post-meta {
  color: $grayD1;
}

.pagination {
  text-align: center;
  margin-top: 2em;
  padding-top: 1.5em;
  border-top: 1px solid $grayL1;
  color: $grayD1;
}
