/** Team **/

.team-member-container {
  + .team-member-container {
    margin-top: 1em;
  }

  + h2 {
    margin-top: 1em;
  }
}

.team-member-info {
  @media screen and (min-width: 600px) {
    @include display-flex();
  }

  .team-member-image {
    @media screen and (min-width: 600px) {
      width: 35%;
      margin-right: 1em;
    }

    img {
      @media screen and (max-width: 599px) {
        max-height: 500px;
        margin-bottom: 1em;
      }
    }
  }

  .team-member-content {
    @media screen and (min-width: 600px) {
      width: 65%;
    }

    p:first-child {
      margin-top: 0;
    }
  }
}